* {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: aqua;
  position: relative;
  top: 50px;
}

#i {
  background-color:#F5F5DC

}

.c {
  background-color: yellow;
}

h3 {
  background-color: aqua;
  position: fixed;
  top: 0px;
}


/* ye kam ki chiz he asmi  */
h4{
  background-color: rebeccapurple;
  position: sticky;
  top: 0px;
}

