*{
  margin: 0px;
  padding: 0px;
}
h1{
  background-color: aqua;
  height: 150px;
  width: 300px;

  border-width: 5px;
  border-style: dashed;
  border-color: rgb(123, 107, 107);

  padding: 10px;
  margin: 15px;
}

h3 {
  background-color: burlywood;
  border: solid 2px black;
  padding: 2px;
  margin: 15px;
}

p {
  background-color: yellow;
  border: 2px dotted black;
  padding: 5px;
  margin: 15px;
}

button {
  margin-left: 15px;
  padding: 8px;
  border-radius: 7px;
  background-color: green;
  cursor: pointer;
}

a {
  background-color: green;
  padding: 4px;
  margin: 15px;
  border: 1px solid black;
  border-radius: 5px;
}